.navbar {
    background-color: #ffffff;
    border-bottom: 5px solid #e30707;
}

.navbar-collapse {
    justify-content: center;
}

.navegacion ul li a {
    color: black;
}

.navegacion ul li a:hover {
    color: #fa3838;
    border-top: 2px solid black
}

h1 {
    color: #ffffff;
    font-size: 45px;
    display: contents;
}

h2 {
    font-size: 42px;
    text-align: center;
}

.h2index {
    font-size: 42px;
    text-align: center;
    color: aliceblue;
}

thead {
    color: #ffffff;
    background-color: #fa3838;
}

th {
    text-align: center;
}

.site-section {
    padding: 2em 0;
  }

.media-feature {
    padding: 20px;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
    background: #fff;
    z-index: 1;
    position: relative;
    border-radius: 0px;
    margin-bottom: 30px;
    border: 1px solid #000000;
}

/*.media-feature .icon {
    font-size: 60px;
    color: #ff6d24;
  }*/

  .media-feature h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .media-feature:hover, .media-feature:focus {
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
    background-color: #e30707;
  }

.grid {
    background-image: linear-gradient(to right, #f56969,#ffffff);
    border-bottom: 2px solid #000000;
    border-radius: 3%;
}

/*Tabla nuestos valores*/

td{
    border: 1px solid #000000
}

.valores{
    border: 1px solid #000000
}