.navbar {
    background-color: #ffffff;
    border-bottom: 5px solid #e30707;
}

.navbar-collapse {
    justify-content: center;
}

.navegacion ul li a {
    color: black;
}

.navegacion ul li a:hover {
    color: #fa3838;
    border-top: 2px solid black
}

h1 {
    color: #ffffff;
    font-size: 45px;
    display: contents;
}

h2 {
    font-size: 42px;
    text-align: center;
}

.h2index {
    font-size: 42px;
    text-align: center;
    color: aliceblue;
}

thead {
    color: #ffffff;
    background-color: #fa3838;
}

th {
    text-align: center;
}

.site-section {
    padding: 2em 0;
  }

/* Inscripciones actividades */

.prueba {
    border-right: 3px solid #000000;
    color: #fff;
}

.prueba_2 {
    color: #fff;
}

  /* index.html*/

.media-feature {
    padding: 20px;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
    background: #fff;
    z-index: 1;
    position: relative;
    border-radius: 0px;
    margin-bottom: 30px;
    border: 1px solid #000000;
}

  .media-feature h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .media-feature:hover, .media-feature:focus {
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.3);
    background-color: #e30707;
  }

.grid {
    background-image: linear-gradient(to right, #f56969,#ffffff);
    border-bottom: 2px solid #000000;
    border-radius: 3%;
}

/*Tabla nuestos valores*/

td{
    border: 1px solid #000000
}

.valores{
    border: 1px solid #000000
}

/*club.html*/

.services-1-wrap .service-1 {
  padding: 20px 30px;
  border: 1px solid #990606;
  border-right: none;
  position: relative; }
  @media (max-width: 1199.98px) {
    .services-1-wrap .service-1 {
      border: 1px solid #990606;
      margin-bottom: 30px; } }
  .services-1-wrap .service-1 .number {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #990606; }
  .services-1-wrap .service-1 .service-1-content .service-heading {
    font-size: 1.5rem;
    color: #000;
    font-weight: 400; }
  .services-1-wrap .service-1 .service-1-content p {
    font-size: 15px; }

.services-1-wrap [class^="col-"]:last-child .service-1 {
  border-right: 1px solid #990606; }

  /*Footer*/

.letra ul li a {
    color: aliceblue;
    text-decoration:none;
}

  .letra ul li a:hover {
  color: red;
      border-top: 1px solid aliceblue;
  }

  .nosotrs {
    color: aliceblue;
  }

  .fondo {
    background-color: red;
}

/*Fin foter*/




